.rest-card {
	width: 225px;
	height: 300px;
	padding: 10px;
	margin: 10px;
	background-color: #f0f0f0;
}
.rest-card:hover {
	border: 1px solid black;
	cursor: pointer;
}

.food-logo {
	width: 100%;
}
