.search {
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}
.search-box {
	padding: 5px;
	margin: 5px;
}
.search-btn {
	padding: 5px;
	margin: 5px;
}

.res-container {
	display: flex;
	flex-wrap: wrap;
}
.filter {
	display: flex;
}
.filter-btn {
	cursor: pointer;
	padding: 5px;
	margin: 5px;
}
